body
{
    background-color: rgb(35, 85, 154);
}

.header > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    min-height: 2em;
}

.header
{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 1em;
}

.about
{
    background-color: rgb(221,221,221);
    box-shadow: 3px 3px rgb(59, 195, 123);
    justify-content: center;
    align-items: flex-start;
}

.contact
{
    background-color: rgb(221,221,221);
    box-shadow: 3px 3px rgb(59, 195, 123);
    justify-content: center;
    align-items: flex-start;
}

.home
{
    background-color: rgb(221,221,221);
    box-shadow: 3px 3px rgb(59, 195, 123);
    justify-content: center;
    align-items: flex-start;
}

.service
{
    background-color: rgb(221,221,221);
    box-shadow: 3px 3px rgb(59, 195, 123);
    justify-content: center;
    align-items: flex-start;
}

.main
{
    display: flex;
    flex-basis: 99%;
    background-color: rgb(221, 221, 221);
    box-shadow: 3px 3px rgb(9, 178, 35);
}

.text
{
    margin-left: auto;
    margin-right: auto;
}

.read
{
    color: white;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    padding: 0.5em;
}

.aside
{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 1em;
}

.aside > div
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
    background-color: rgb(221,221,221);
    box-shadow: 4px 4px rgb(212, 17, 31);
    padding: 0.75em;
}

.analytics
{
    justify-content: center;
    align-items: flex-start;
}

.marketing
{
    justify-content: center;
    align-items: flex-start;
}

.development
{
    justify-content: center;
    align-items: flex-start;
}

.support
{
    justify-content: center;
    align-items: flex-start;
}

.foot
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

form
{
    max-width: 10em;
    background-color: rgb(221, 221, 221);
    margin: 2em;
    color: rgb(10,4,130);
    padding: 1em;
}

legend
{
    background-color: rgb(144, 238, 144);
    color: rgb(84, 91, 135);
}

.btnsend
{
    text-align: center;
}