table{
    border: solid blue;
    width: 525px;
    height: 300px;
    background-color: #99ff66;
    box-shadow: 2px 2px 2px 2px black;
    border-spacing: 0px;
    margin-top: 10em;
    float: left;
}

td{
    border: solid green;
    text-align: center;
    border-width: 1px;
}

.big{
    width: 300px;
    height: 60px;
}

.mellan{
    width: 225px;
    height: 60px;
}

.liten{
    width: 150px;
    height: 60px;
}