table{
    border: solid blue;
    background-color: #99ff66;
    border-spacing: 0px;
    margin-top: 10em;
    float: left;
}

.wid{
    width: 20em;
}

tr{
    text-align: center;
}

td{
    border: solid green;
    text-align: center;
    border-width: 1px;
    border-spacing: 0px;
    padding-bottom: 2em;
    width: 4em;
    height: 2em;
}
.shadow{
    box-shadow: 2px 2px 2px 2px black;
    width: 80em;
    margin: 4em;
}