.first{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    

}

body{
    background-color: #DEFF9C;
}

a:hover{
    box-shadow: 5px 5px 5px #888888;
    background-color: lightblue;
}

a:link{
    color: yellow
}

a:visited{
    color: pink;
}

a:focus{
    border-bottom: 1px solid darkblue;
    background-color: lightblue;
}

a{
    outline: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}