body{
    background-color: lightgreen;
}

div{
    background-color: orange;
    float: left;
    margin: 3em;
    width: 7em;
    height: 25em;
    text-align: center;
    margin-top: 2em;
}

a{
    border-radius: 5px 10px 10px 5px;
    border: solid 2px black;
    float: initial;
    float: inline-start;
}

a.hover{
    color: darkgreen;
    background-color: cadetblue;
}