.first{
    text-shadow: 1px 1px 2px black,0 0 20px blue,0 0 7px darkblue;
    background-image: linear-gradient(to bottom, #FFF, #4c74f7);
    width: 20em;
    height: 10em;
}

.second{
    text-shadow: 4px 4px 4px #666666;
    background-image: linear-gradient(to bottom, #FFF, #4c74f7);
    width: 20em;
    height: 10em;
}

.third{
    text-shadow: 0 0 10px #FF7F50;
    background-image: linear-gradient(to bottom, #FFF, #4c74f7);
    width: 20em;
    height: 10em;
}