.first{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #FFF, #83f589);
    width: 20em;
    height: 5em;
}

.second{
    font-family: Courier New, Courier, monospace;
    background-image: linear-gradient(to bottom, #FFF, #83f589);
    width: 20em;
    height: 5em;
}

.third{
    font-family: Times New Roman, Times, serif;
    background-image: linear-gradient(to bottom, #FFF, #83f589);
    width: 20em;
    height: 5em;
}